@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

#header{
    color: white;
    background-color:rgb(31, 31, 31) ;
    height: 10vh;
}
#home{
    height: 80vh;
    background-image: url('https://imbruttito.com/images/milano-stazione-centrale.jpg?p=16x9&s=e399d0f6e5c3b79464c50a661732756d');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#footer{
    text-align: center;
    color: white;
    background-color:rgb(31, 31, 31) ;
    height: 10vh;
    padding-top: 2%;
}
